*.jou
*.log
*.str
*.mif
*.xpr
*.xml
*.html
*.pb
*.dcp
*.wdb
*.vdi
*.wpc
*.wdf
*.lpr
*.prj
*.tcl
*.bat
glbl.v
*.ini
*.svtype
*.txt
*.dbg
*.mem
*.reloc
*.rlx
*.rtti
*.type
*.xdbg
*.exe
*.obj
*.c
*.info
*.sdb
*.debug
.Xil/
.cache/
.hw/
.ip_user_files/
.sim/
.srcs/
.gen/
NA/

*.bit
*.bin
*.ltx

.DS_Store
Thumbs.db

# src/*.v
# sim/*.v  
# constraints/*.xdc